<div{{ attributes }} class="d-flex flex-column p-2 bg-white" style="width: 150px">
    <h3>{{ this.product.name }}</h3>
    <p>{{ this.product.description }}</p>

    <img src="{{ this.product.image }}"/>

    <p>Price: <span class="fw-bolder">{{ this.product.price }} &euro;</span></p>
</div>
